<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
    <script src="https://kit.fontawesome.com/d6f3583109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header class="header--horizontal">
        <nav class="header--horizontal-menu">
            <ul>
                <li><a href="/">| home |</a></li>
                <li><a href="/about">about |</a></li>
                <li><a href="/music">music |</a></li>
                <li><a href="/contact">contact |</a></li>
            </ul>
        </nav>
        <nav class="header--horizontal-redes">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
            <a href="#"><i class="fa-brands fa-apple"></i></a>
            <a href="#"><i class="fa-brands fa-amazon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <nav>
            <h5>Direct Links</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>
        <section class="album">
            <h4>ALBUM <br>TWIST IN MY REALITY</h4>
            <img src="/img/emilia-play-list.png" alt="emilia-play-list" width="640">
            <ol>
                <li><i class="fas fa-play"></i> Organic Love | 02:40</li>
                <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
                <li><i class="fas fa-play"></i> Street Light | 03:28</li>
                <li><i class="fas fa-play"></i> Love Don’t Live HereAnymore (Cover) | 03:49</li>
            </ol>
            <a href="#" class="go-top">Go Top</a>
        </section>

        <section id="organic">
            <h4>VIDEO<br>ORGANIC LOVE</h4>
            <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
            <a href="#" class="go-top">Go Top</a>
        </section>
        <section>
            <h4>VIDEO<br>STREET LIGHT</h4>
            <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
            <a href="#" class="go-top">Go Top</a>
        </section>
    </main>
</body>

</html>