body.home {
  background-image: url("/images/emilia-home.jpg");
  background-size: 75% 700px;
  background-repeat: no-repeat;
  background-position: right -100px;
}

.home h2 {
  font-family: var(--tipografiaEmilia);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 36px;
  font-size: 22px;
  letter-spacing: 3px;
  margin-left: 30px;
  margin-top: 80px;
}

.home h1 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  margin-top: 100px;
}
