<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs",{ title : "About" }) %>

    <body class="about">
        <%- include("partials/header.ejs") %>

            <main>
                <h1>About<br>Emilia //</h1>
                <article>
                    <h3>"Seattle-based pop star makes her<br> indie debut with a hauntingly beautiful album"</h3>
                    <p>- Jonh Tirckle. Music Today Post</p>
                </article>
                <article>
                    <h3>"Emilia Cole is one of the<br> scenes breakout stars"</h3>
                    <p>- Jonh Tirckle. Music Today Post</p>
                </article>
            </main>
    </body>

</html>